<html ng-app="scheduleapp">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="angular.js"></script>
	<script src="scheduleappjs.js"></script>
</head>

<body>
	<h1>Scheduler</h1>
	<h3>Add a Schedule</h3>
	<div ng-controller="func as f1">
		<div>
			<input type="text" value="Add" ng-model="f1.addvar"></input>
		</div>
			
		<button ng-click="f1.addfunc()">Add</button>
		<button ng-hide="f1.flag" ng-click="f1.editfunc()">Edit</button>

		<div>
			<p>Schedules:</p>			
			<button ng-show="f1.flag" ng-click="f1.donefunc()">Save</button>
			<ol class="list-group">
		 		<li class="list-group-item" ng-repeat="i in f1.arr track by $index">
					<input type="text" ng-show="f1.flag" ng-model="i"></input>
					<span ng-hide="f1.flag">{{i}}<span>
					<button ng-hide="f1.flag" ng-click="f1.removefunc($index)">Delete</button>
				</li>
			</ol>
		<button ng-show="f1.flagdb" ng-click="f1.dbsave()">Save</button>
		<input type="text" ng-show="f1.flagdb" ng-model="f1.schdName"></input>
		</div>
		<hr>
		<div>
			<button ng-click="f1.getfunc()">Get your Schedules</button>
			<input type="text" ng-model="f1.tasktoget"></input>
			<ol class="list-group">				
		 		<li class="list-group-item" ng-repeat="i in f1.getarrtask track by $index">
		 			<input type="text" ng-show="f1.flagupdate" ng-model="i"></input>
		 			<span ng-hide="f1.flagupdate">{{i}}</span>
		 		</li>
			</ol>
			<button ng-click="f1.updatefunc()">update</button>
			<button ng-click="f1.updatedbfunc()">update to db</button>			
			<!--
			<ol class="list-group">				
		 		<li class="list-group-item" ng-repeat="i in f1.getarr track by $index">
		 			<input type="text" ng-show="f1.flag" ng-model="i"></input>
					<span ng-hide="f1.flag">{{i}}<span>
					<button ng-hide="f1.flag" ng-click="f1.removefunc($index)">Delete</button>
				</li>
			</ol>
			<button ng-show="f1.flagdb" ng-click="f1.dbupdate()">Save</button>-->
		</div>
	</div>
</body>
</html>